<div class="row">
    <div class="form-group col-xs-3">
        <label for="name">User Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="user.name">
    </div>
    <div class="form-group col-xs-3">
        <label for="age">User Age</label>
        <input type="text" class="form-control" id="age" [(ngModel)]="user.age">
    </div>
    <div class="form-group col-xs-3">
        <label for="email">Email Id</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="user.email">
    </div>
    <div class="form-group col-xs-3">
        <label for="email">Email Id</label>
        <input type="text" class="form-control" id="yob" [(ngModel)]="user.dob">
    </div>
    <div class="col-xs-12">
        <button type="submit" class='btn btn-success' style="margin: 5px;" (click)="editUser()">Update</button>
        <button type="submit" class='btn btn-primary' style="margin: 5px;" (click)="resetForm()">Reset</button>
    </div>
</div>