<div class="row">
    <div class="col-xs-12">
        <img style="max-height: 300px;" src="{{selectedRecipe.imagePath}}" alt="{{selectedRecipe.imagePath}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{selectedRecipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
            <button class="btn-sm btn-primary" style="margin: 5px;" (click)="addToShoppingCart()">ADD TO CART</button>
            <button class="btn-sm btn-primary" style="margin: 5px;" (click)="editRecipe()">EDIT RECIPE</button>
            <button class="btn-sm btn-primary" style="margin: 5px;">DELETE RECIPE</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{selectedRecipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <ul class="list-group">
           <li class="list-group-item" *ngFor="let ingredient of selectedRecipe.ingredients">
               {{ingredient.name}} - {{ingredient.amount}}
           </li>
       </ul>
    </div>
</div>