<div class="col-xs-12 col-md-12">
  <app-newaccount></app-newaccount>
  <hr>
  <app-account
    *ngFor="let acc of accounts; let i = index"
    [account]="acc"
    [id]="i"></app-account>
</div>


<div class="col-xs-12 col-md-8 col-md-offset-2">
  <app-activeusers
    [users]="activeUsers"></app-activeusers>
  <app-inactiveusers
    [users]="inactiveUsers"></app-inactiveusers>
</div>

<div class="col-xs-6">
  <div class="panel panel-danger">
    <div class="panel-heading">
        ACTIVE to INACTIVE COUNTER
    </div>
    <div class="panel-body">
        <span class="label label-danger"> {{counter.inactive}}</span> 
    </div>
  </div>
</div>
<div class="col-xs-6">
  <div class="panel panel-success">
    <div class="panel-heading">
        INACTIVE to ACTIVE COUNTER
    </div>
    <div class="panel-body">
        <span class="label label-success"> {{counter.active}}</span> 
    </div>
  </div>
</div>
 
