.zippy { 
    border: 1px solid #ccc;
    border-radius: 2px;
}

.zippy-header { 
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    background: #E6E6FA;
}
.zippy-header.expanded { 
    background: #f0f0f0;
}
.zippy-body { 
    padding: 20px;
    overflow: hidden;
}

.fa  { 
    float: right;
}