<button class='btn btn-success btn-sm' style="margin: 5px;" (click)="navigateTo('directives/if')"><span class="label label-success">IF_DIRECTIVE</span></button>
<button class='btn btn-success btn-sm' style="margin: 5px;" (click)="navigateTo('directives/class')"><span class="label label-success">CLASS-DIRECIVE</span></button>
<button class='btn btn-success btn-sm' style="margin: 5px;" (click)="navigateTo('directives/logger')"><span class="label label-success">EVENT-LOGGER</span></button>

<hr>

<button class='btn btn-info btn-sm' style="margin: 5px;" (click)="navigateToUserProfile('user/Murugan')"><span class="label label-info">Murugan</span></button>
<button class='btn btn-info btn-sm' style="margin: 5px;" (click)="navigateToUserProfile('user/mani')"><span class="label label-info">Mani</span></button>
<button class='btn btn-info btn-sm' style="margin: 5px;" (click)="navigateToUserProfile('user/alpha')"><span class="label label-info">Alpha</span></button>
