<div class="col-xs-6">
    <div class="text-primary" *ngIf="!user; else userProfile">
        INVALID USER: User Profile is not available.
    </div>
    <ng-template #userProfile>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{user.name}}
            </div>
            <div class="panel-body">
                Age: {{user.age}}, Contact Email: {{user.email}}
            </div>
        </div>
    </ng-template>

    <!-- This will work because the page reloads and the user component is reinialized -->
    <!-- <a href='routing/user/beta'>Show Beta Profile</a> -->

    <a [routerLink]="['/routing', 'user', 'beta']">Show Beta Profile</a>
</div>