<!--The content below is only a placeholder and can be replaced.-->
<div class="container" id="app">
  <div class="card" style="width: 60rem;">
    <div class="card-header">
        <h3 class="card-title">Todo App</h3>
        <h6 class="card-subtitle mb-2 text-muted">Angular Animations</h6>
    </div>
    <div class="card-body">      
      <app-todo></app-todo>
    </div>
  </div>
  <br>
  <div class="card" style="width: 60rem;">
      <div class="card-header">
          <h3 class="card-title">Zippy App</h3>
          <h6 class="card-subtitle mb-2 text-muted">Angular Animations</h6>
      </div>
      <div class="card-body"> 
        <app-zippy></app-zippy>
      </div>
  </div>
</div>
