<h4>DIRECTIVES</h4>
<div>
    <span class="label label-success">NGIF</span>
    <span class="text-success"> - To manipulate the DOM dynamically : Structural Directive </span>
</div>
<app-ifdirective></app-ifdirective>
<div>
    <span class="label label-default">NGSTYLE</span>
    <span class="text-muted"> - To dynamically apply css style</span>
</div>
<app-classdirective></app-classdirective>
<app-classdirective></app-classdirective>
<app-classdirective></app-classdirective>
<app-classdirective></app-classdirective>
<app-classdirective></app-classdirective>
<app-classdirective></app-classdirective>