<h4>DIRECTIVES</h4>
<div>
    <span class="label label-success">NGIF & NGFOR</span>
    <span class="text-success"> - To manipulate the DOM dynamically : Structural Directive </span>
</div>
<app-ifdirective></app-ifdirective>
<div>
    <span class="label label-default">NGSTYLE & NGCLASS</span>
    <span class="text-muted"> - To dynamically apply css style</span>
</div>
<span *ngFor="let item of arr(10)" [ngStyle]="{'padding': '1%'}">
    <app-classdirective></app-classdirective>
</span>

<app-eventlogger></app-eventlogger>

<div appBggreen>Using custom directive [ElementRef] <span class="text text-danger">'appBggreen'</span> to apply the background color instead of css</div>

<!-- <div appBgblue [bgColorValue]="'#cae9f9'">Using custom directive [Renderer2] <span class="text text-danger">'appBgblue'</span> to apply the background color instead of css</div> -->

<!-- <div appBgblue bgColorValue="#cae9f9">Using custom directive [Renderer2] <span class="text text-danger">'appBgblue'</span> to apply the background color instead of css</div> -->

<div appBgblue="#cae9f9">Using custom directive [Renderer2] <span class="text text-danger">'appBgblue'</span> to apply the background color instead of css</div>
