<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type='text' id='name' class='form-control' [(ngModel)] = "ingredientName" name="ingredientName">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" id="amount" class="form-control" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class='btn btn-success' style="margin: 5px;" (click)="addIngredient()">Add</button>
                    <button type="submit" class='btn btn-danger' style="margin: 5px;">Delete</button>
                    <button type="submit" class='btn btn-primary' style="margin: 5px;">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>